.error-content {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  padding: 5rem 3rem;
}

.error-content .error-title h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(2.5rem, 6vw, 6.25rem);
}

.error-btn-section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 991px) {
  .error-content {
    grid-auto-flow: row;
  }
  .error-btn-section {
    margin-top: 3rem;
  }
  .error-btn-section .btn {
    padding: 20px 30px;
  }
}

@media (max-width: 767px) {
  .error-content {
    padding: 3rem 1rem;
  }
}

@media (max-width: 575px) {
  .error-content {
    padding: 3rem 1rem;
  }
  .error-btn-section {
    margin-top: 2rem;
  }
}
