.footer .footer-flex {
  border-top: 1px solid var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .cprt,
.footer .links {
  margin: 3rem 2.5rem;
}
.footer .cprt {
  line-height: 1.5;
}
.footer .links ul li {
  display: inline;
  margin-right: 0.5rem;
}
.footer .links ul li:last-child {
  margin-right: 0;
}
.footer .links ul li a {
  text-decoration: none;
}
.footer .links ul li a svg:hover {
  transform-origin: 50% 50%;
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
  stroke: var(--accent);
}
.footer .link-custom {
  text-decoration: none;
  color: var(--accent);
}

@media (max-width: 767px) {
  .footer .footer-flex {
    flex-direction: column;
  }
  .footer .cprt {
    margin: 0 1rem 3rem;
    text-align: center;
    order: 2;
  }
  .footer .links {
    margin: 3rem 1rem 2rem;
  }
}